* {
    margin: 0;
    padding: 0;
}

.VB{
    border: tomato solid;
}

body{
    background: #e0e0e0;
}

#nav-master{
    position: fixed;
    z-index: 99;
}

.navbar{
    padding-top: 1%;
    padding-bottom: 1%;
    animation-name: navbar-int;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#logo-navbar{
    width: 20%;
}

#foto00{
    border-radius: 60px;
    width: 50%;
}

.nav-item{
    background: #ff000000;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.4s;
}

.nav-item:hover{
    background: #0044ff;
    border-radius: 5px;
    transform: scale(1.5);
    z-index: 8;
}

#port{
   /* border: solid #ff0000;*/
   padding-top: 80px;
    width: 100%;
}

.box-dev{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    animation:scale-up-center 0.8s;
}

.box-name{
    padding: 5%;
    border-radius: 20px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  29px 29px 58px #868686,
             -29px -29px 58px #ffffff;
    margin-left: 7%;
}

#name-dev0{
    font-size: 60px;
}

#name-dev1{
    font-size: 25px;
    font-weight: 200;
}

#img-dev{
    margin: 0;
    padding: 0;
    border-radius: 200px;
    width: 50%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  25px 25px 50px #7b7b7b,
             -25px -25px 50px #ffffff7f;
    padding: 1%;
}

#body-port{
    position: relative;
    background-color: #202529;
    margin-top: 13%;
    width: 100%;

    view-timeline-name: --body_port;
    view-timeline-axis: block;

    animation-timeline: --body_port;
    animation-name: body_int;

    animation-range: entry 1% cover 20%;
    animation-fill-mode: both;
}

.s-mi{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gueco-svg{
    margin-top: 10%;
    width: 50%;
}

.t-mi{
    text-align: justify;
}

.text-D{
    color: aliceblue;
    margin-top: 10%;
}

.WhiteText{
    color: aliceblue;
}

#sk-t{
    text-align: center;
}

#pr-t{
    text-align: center;
}

.block{
    background-color: aliceblue;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    padding-top: 2%;
    margin-top: 2%;    
}

.centerT{
    text-align: center;
}

.l-tx{
    text-align: left;
}

.p-tx{
    text-align: right;
}

.lv{
    width: 100%;
    height: 28px;
    background-color: #1e2529;
    padding-top: 6px;
    border-radius: 10px;
}

.pr{
    height: 16px;
    background-color: #f0f8ff;
    border-radius: 10px;
}

.p-img{
    background-color: #202529;
    width: 300px;
    height: 250px;
}

.red-ico{
    width: 90%;
    transition: 0.4s;
}

.red-ico:hover{
    scale: 1.2;
}

@keyframes body_int {
    from{
        opacity: 0%;
        width: 0%;
    }
    to{
        opacity: 100%;
        width: 100%;
    }
}

@keyframes navbar-int {
    from{
        margin-top: -10%;
    }
    to{
        margin-top: 0%;
    }
}

@keyframes scale-up-center{ 
    0%{transform:scale(0.5);opacity: 0%;} 
    50%{transform:scale(.5)} 
    100%{transform:scale(1)} 
}